<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8' />
  <title>Display a tour</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans:wght@300;400;800&display=swap" rel="stylesheet">

  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
    }

    section {
      width: 80%;
      margin: 0 auto;
    }

    h1, h2 {
      font-family: 'Work Sans', sans-serif;
    }
  </style>
</head>

<body>
  <section>
    <h1>Hello World!</h1>
    <h2>Take a tour of Kentucky</h2>

    <!-- 💡💡💡 paste embed code below -->

    <iframe title="Paint by Nature: Go See Trees" width="100%" height="800px" src="https://cesium.com/ion/stories/viewer/?id=92145716-7ac3-42c8-96b7-3ab6fd4e6e3a" frameborder="0" allow="fullscreen" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  
    </section>
</body>

</html>